.application{background-image:url("icn/application.png") !important;}
.bug{background-image:url("icn/bug.png") !important;}
.book{background-image:url("icn/book.png") !important;}
.cog{background-image:url("icn/cog.png") !important;}
.exclamation{background-image:url("icn/exclamation.png") !important;}
.exclamation_octagon_fram{background-image:url("icn/exclamation_octagon_fram.png") !important;}
.house{background-image:url("icn/house.png") !important;}
.help{background-image:url("icn/help.png") !important;}
.arrow_refresh{background-image:url("icn/arrow_refresh.png") !important;}
.star_1{background-image:url("icn/star_1.png") !important;}
.script{background-image:url("icn/script.png") !important;}
.comment{background-image:url("icn/comment.png") !important;}
.lock{background-image:url("icn/lock.png") !important;}
.group{background-image:url("icn/group.png") !important;}
.key{background-image:url("icn/key.png") !important;}
.hammer{background-image:url("icn/hammer.png") !important;}
.user{background-image:url("icn/user.png") !important;}
.add{background-image:url("icn/add.png") !important;}
.cross{background-image:url("icn/cross.png") !important;}
.arrow_right{background-image:url("icn/arrow_right.png") !important;}
.magnifier{background-image:url("icn/magnifier.png") !important;}
.application_side_tree{background-image:url("icn/application_side_tree.png") !important;}